/* Styles généraux */
body {
    background-color: #000000;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Section Hero */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url('img/fond_2.jpg') no-repeat center center/cover;
}

.h1 {
    font-size: 4rem;
    font-weight: bold;
}

/* Suppression de l'image de fond sur mobile */
@media (max-width: 768px) {
    .hero {
        background: url('img/fond.jpg') no-repeat center ;
        background-size: contain;
    }
}

/* Section générale */
.section {
    padding: 80px 0;
}

/* Navigation */
.nav {
    background-color: #000000;
    color: white;
}

/* Icônes dans la barre de navigation */
.navbar .icon {
    width: 100%;
    height: 40px;
    object-fit: cover;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar .icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

/* Espacement des icônes */
.navbar .d-flex a {
    margin-left: 20px;
}

/* Grille des projets */
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
}

/* Responsive */

@media (max-width: 768px) {
    .project-filter {
        display: none;
    }
}


@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}



.project-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.project-item {
    width: 100%;
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.project-card {
    width: 100%;
    height: 100%;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Overlay pour le titre */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
}

.project-card:hover .overlay {
    opacity: 1;
}

.project-title {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/* Filtrage des projets */
.project-filter .nav-link {
    color: white;
    margin: 0 10px;
    transition: color 0.3s ease;
    cursor: pointer;
    font-size: 1.1rem;
    padding-bottom: 50px;
}

.project-filter .nav-link.active,
.project-filter .nav-link:hover {
    color: #f39c12;
}

/* Pied de page */
.site-footer {
    background-color: #000000;
    color: white;
    padding: 20px 40px;
    border-top: 1px solid #444;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left {
    text-align: left;
}

.footer-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-email {
    font-size: 1rem;
    font-style: italic;
    color: #ccc;
}

.footer-right {
    text-align: right;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.icon-link {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease, transform 0.3s ease;
}

.icon-link:hover {
    color: #f39c12;
    transform: scale(1.1);
}

.footer-copyright {
    font-size: 0.9rem;
    color: #ccc;
}

/* Responsivité */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-right {
        margin-top: 20px;
    }
}

/* Timeline */
.timeline {
    padding: 50px 20px;
    position: relative;
}

.timeline-title {
    text-align: center;
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.timeline-container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline-item {
    display: flex;
    margin-bottom: 30px;
    position: relative;
}

.timeline-item.left {
    justify-content: flex-end;
}

.timeline-item.right {
    justify-content: flex-start;
}

.timeline-content {
    background-color: #111;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    max-width: 300px;
}

.timeline-img-right {
    max-width: 20%;
}

.timeline-content h3 {
    font-size: 1.5rem;
    margin: 0 0 10px;
}

.timeline-content h4 {
    font-size: 1.25rem;
    margin: 0 0 10px;
}

.timeline-content p {
    font-size: 1rem;
    margin: 0;
    line-height: 1.5;
}

.timeline-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background-color: #444;
    z-index: 1;
}


/* Suppression de la barre grise sur mobile */
@media (max-width: 768px) {
    .timeline-container::after {
        display: none; /* Cache la barre de séparation */
    }
}

/* Timeline Items sur mobile */
@media (max-width: 768px) {
    /* Centrer les éléments et les empiler verticalement */
    .timeline-item {
        flex-direction: column;
        align-items: center; /* Centrer le contenu */
        text-align: center; /* Centrer le texte */
    }

    /* Ajuster l'image à une taille appropriée sans déformation */
    .timeline-img-right {
        max-width: 80%; /* Ajuster la taille de l'image sur mobile */
        height: auto; /* Conserver les proportions de l'image */
        margin: 20px; /* Espacement entre l'image et le texte */
    }

    /* Ajuster le contenu de la timeline pour être centré */
    .timeline-content {
        max-width: 80%; /* Limiter la largeur du texte */
        text-align: center; /* Centrer le texte */
    }

    /* Assurer un bon espacement entre les items */
    .timeline-item {
        margin-bottom: 20px; /* Espacement entre chaque entrée */
    }
}



/* Audio */
audio {
    border-radius: 10px;
    outline: none;
}

/* Cartes */
.card {
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card p {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}

.cover-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
